# Node modules
node_modules/

# Logs
*.log

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/

# Uploads
public/uploads/

# Build and cache
package-lock.json

# Ignore coverage
coverage/

